.search-results {
    padding: 30px;
}

.search-results h2{
    text-align: center;
    margin-bottom: 20px;
}

.search-results_list {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    gap: 20px;
}

@media (max-width: 900px) {
    .search-results_list {
        grid-template-columns: repeat (2, 1fr);
    }
}

@media (max-width: 600px) {
    .search-results_list {
        grid-template-columns: 1fr;
    }
}

.search-results__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-results__link {
  display: block;
  padding: 10px;
  border-radius: 6px;
  background-color: #222;
  color: white;
  text-align: center;
  text-decoration: none;
}

.search-results__link:hover {
  background-color: #444;
}